body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    background-image: url(images/leaves.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
/*searched on the internet to do the background-image: https://html-einfach.de/css-lernen/bild-als-hintergrund/ */

h1 {
    color:#0d5328;
}

header {
    background-color: #85B397;
    height: 10%;
}


/*Styling of the navigation*/
.navigation li {
    display: inline;
    padding: 10px;
}

.navigation {
    text-align: right;
}

nav a:link {
        color: white;
        text-decoration: none;
    }
nav a:visited {
        color: white;
        text-decoration: none;
    }
nav a:hover {
        color: #0d5328;
    }


/*Styling of the footer*/
footer {
        background-color: white;
        font-size: smaller;
        position:relative;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: right;
}    

/*Styling of index.html*/
.img_garden_index {
    height: 300px;
    border-radius: 50%;
}



/*Styling of about.html*/  
.div_Andrea_img {
    display: inline-block;
    width: 35%;
    height: 85vh;
}

.Andrea_img {
    height: 300px;
    border-radius: 20px; /*Searched for this online - got the answer from copilot-search*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p a:link {
    color: #0d5328;
}

p a:visited {
    color: #0d5328;
}

p a:hover {
    color: white;
    background-color: #0d5328;
}


/*Styling of cv.html*/    
.cv_heading {
    color: #22577A;
    text-align: left;
}

.cv_table {
    table-layout: fixed;
}

.column_1 {
    width: 200px;
}



/*Styling of gallery.html*/
.gallery_images {
    width: 33%;
}

/*Styling of contact.html*/
/*done this with the freecodecamp "Learn HTML Forms by building a Registration Form": https://www.freecodecamp.org/learn/2022/responsive-web-design/learn-html-forms-by-building-a-registration-form/step-65*/
label {
    display: block;
    margin: 0.5rem 0;
}

fieldset {
    border: none;
}

input, textarea {
    background-color: #e7ece8;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

input, textarea, select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
  border: none;
}

#submit {
    border:2px solid;
}